/***** BASE STYLES *****/
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #191a19;
  background: url(images/papertexture-brilon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
#logo {
  text-align: center;
  background-color: #000000;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.background {
  background-color: #191a19;
}

nav a {
  color: #d8e9a8;
}

#main-body {
  margin-top: 15px;
}

#custom-font {
  font-family: "Rye", cursive;
}

.main {
  background-color: e3e6e9;

  padding-top: 40px;
  background: url(images/papertexture-brilon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

/***** ABOUT #9b9b9b #828282 #bbc085 font-family: "Rye", cursive;*****/

h1 {
  text-align: center;
  font-family: "Rye", cursive;
  margin-bottom: 40px;
  font-size: 42px;
  padding: 40px 0px;
}
div {
  height: auto;
}

.light-mode {
  color: #e3e6e9;
}

#about {
  padding-top: 30px;
}

about .full-width {
  padding: 80px 0;
}

about h2 {
  font-family: "Lora", serif;
  font-size: 28px;
  padding-left: 50px;
}

about p {
  font-size: 21px;
  color: #7f7f7f;
  line-height: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

p {
  font-size: 21px;
  color: #504f4f;
  line-height: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-family: "Lora", serif;
}

h2 {
  text-align: center;
  padding: 42px;
  padding-top: 0px;
  margin: 0 20px;
  font-family: "Lora", serif;
  line-height: 42px;
}

h3 {
  text-align: center;
  font-size: 42px;
  color: #191a19;
  font-family: "Rye", cursive;
}

.description {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.row {
  margin-bottom: 28px;
}

.card {
  background: url(images/papertexture-brilon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

#picture {
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

/* Resize images */
#picture img {
  width: 100%;
  height: auto;
}

#photo-credit {
  color: #d8e9a8;
}

.contacts {
  font-family: "Lora", serif;
}

footer {
  text-align: center;
  padding: 40px;
  font-family: "Lora", serif;
  background: url(images/papertexture-brilon.jpg);
  background-position: center;
}
.center {
  text-align: center;
  width: 100%;
}
@media (max-width: 900px) {
  body {
    background: url(images/papertexture-brilon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }

  h1 {
    font-size: 30px;
    line-height: 1.5;
    margin: 0px;
  }

  h2 {
    font-size: 22px;
    text-align: center;
  }

  h3 {
    font-size: 24px;
  }

  p {
    text-align: center;
    font-size: 18px;
  }

  #logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
}
